<a href="https://colab.research.google.com/github/Kundan71/Data-Wrangling/blob/main/Copy_of_Assignment_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b><u> Problem 1: </u> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>

In [ ]:
# Your code here
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Module 1/week 3/data/imdb_data.csv'
imdb_df=pd.read_csv(file_path)

In [ ]:
imdb_df.shape

(3000, 23)

In [ ]:
imdb_df.head(10)

In [ ]:
imdb_df.info()

In [ ]:
type(df.loc[0,'crew']) # not real list we will use eval() fn to convert it into real list

NameError: ignored

In [ ]:
len(eval(df.loc[0,'crew']))

72

In [ ]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
column_to_keep = ['imdb_id', 'budget', 'genres', 'original_language', 'title', 'cast', 'crew', 'revenue']

In [ ]:
imdb_df = imdb_df[column_to_keep]

In [ ]:
def convert_string_to_list(string):
  return eval(string)

In [ ]:
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_string_to_list)

In [ ]:
imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_string_to_list)

In [ ]:
#imdb_df.loc[0,'cast']

In [ ]:
imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_string_to_list)

In [ ]:
imdb_df_new = imdb_df.copy()

In [ ]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.253133e+07  6.672585e+07
std    3.702609e+07  1.375323e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.379808e+06
50%    8.000000e+06  1.680707e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [ ]:
imdb_df_new.loc[imdb_df_new['budget']<=1000,'budget'] = imdb_df_new.loc[imdb_df_new['budget']>=1000,'budget'].median()

In [ ]:
imdb_df_new.loc[imdb_df_new['revenue']<=1000,'revenue'] = imdb_df_new.loc[imdb_df_new['revenue']>=1000,'revenue'].median()

In [ ]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.708250e+07  6.705811e+07
std    3.492773e+07  1.373917e+08
min    2.500000e+03  1.404000e+03
25%    1.000000e+07  2.947600e+06
50%    1.645000e+07  1.748753e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [ ]:
imdb_df_new['profit'] = imdb_df_new['revenue'] - imdb_df_new['budget']

In [ ]:
imdb_df_new.head()

In [ ]:
max_profit = imdb_df_new['profit'].max()

In [ ]:
max_profit_movies = imdb_df_new[imdb_df_new['profit'] == max_profit]

In [ ]:
max_profit_movies

        imdb_id     budget  ...     revenue      profit
1761  tt2820852  190000000  ...  1506249360  1316249360

[1 rows x 9 columns]

In [ ]:
max_profit_movies.iloc[0]['crew']

In [ ]:
max_profit_movies_df = max_profit_movies['crew'].values
crew_list = max_profit_movies.iloc[0]['crew']

In [ ]:
producer_list = []
director_list = []
for elem in crew_list:
  if elem['job'] == 'Producer':
    producer_list.append(elem['name'])

  if elem['job'] == 'Director':
    director_list.append(elem['name'])

In [ ]:
director_list

['James Wan']

In [ ]:
max_profit_movies.iloc[0]['cast']

In [ ]:
actor_list_df = max_profit_movies.iloc[0]['cast']

In [ ]:
actor_list = []
male_actor_list = []
female_actor_list = []
for elem in actor_list_df:
  actor_list.append(elem['name'])

  if elem['gender'] == 2:
    male_actor_list.append(elem['name'])

  if elem['gender'] == 1:
    female_actor_list.append(elem['name'])

In [ ]:
female_actor_list

['Michelle Rodriguez',
 'Jordana Brewster',
 'Nathalie Emmanuel',
 'Gal Gadot',
 'Elsa Pataky',
 'Eden Estrella',
 'Iggy Azalea',
 'Levy Tran',
 'Brittney Alger',
 'Jocelin Donahue',
 'Nathalie Kelley']

# <b><u> Problem 2 :</u> Top 3 directors prefer which actors the most?

In [ ]:
# Your code here

# <b><u>Problem 3 :</u> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI.

In [ ]:
# Hint below: Create a dataframe which looks like as shown
# DataFrame1
Movie    Producers     Directors

Movie1    [p1, p2]     [d1, d2]
Movie2    [p3, p4]     [d3, d4]

# DataFrame2
Movie    Producers       ROI
Movie1     p1            12
Movie1     p2            13
Movie2     p3            14
movie2     p4            15

# DataFrame3
Producer   Movies         Average_ROI
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
# Your code here